{% load static %}
{% load staticfiles %}


<html lang="en">
<head>

    <title>{% block title %}Investigación en Turismo | Investigadores CONDET{% endblock %}</title>
    <meta name="description" content='{% block description %}{% endblock %}'/>

	{% include "condet/css.html" %}

    {{ form.media }}

</head>

<body>

{% include "condet/navbar.html" %}


{% block content %}
{% endblock %}


<!-- All that javascript -->
{% include 'condet/js.html' %}



<script>
$(document).ready(function(){
  {% block jquery %}{% endblock %}
})
</script>

{% block scripts %}
{% endblock %}
</body>
</html>

