{% extends 'condet/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<div class="container">

    <form class="form-signin" method="post" action="{% url 'condet:login' %}">
        {% csrf_token %}

        <h2 class="form-signin-heading">Please sign in</h2>
        <label class="sr-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control" required autofocus>
        <label class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

</div> <!-- /container -->


{% endblock %}
</body>
</html>